<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title%></title>
  </head>
  <body>
    <h1><%= title%></h1>
    <form action="search" method="get">
      <label for="search">Search:</label>
      <input
        type="text"
        id="search"
        name="search"
        required
        placeholder="Search Users"
      />
      <button
        type="submit"
        style="
          background-color: blue;
          color: white;
          border: none;
          padding: 5px 10px;
          cursor: pointer;
        "
      >
        Search
      </button>
    </form>
    <ul>
      <% usersnames.forEach(({ username, id }) => { %>
      <li><%= username %></li>
      <form action="/<%= id %>/delete" method="POST" style="display: inline">
        <button
          type="submit"
          style="
            background-color: red;
            color: white;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
          "
        >
          Delete
        </button>
      </form>
      <% }); %>
    </ul>

    <a href="/">Back to home page</a>
  </body>
</html>
